.header{
    background-color: $header-bg;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;
    }
    &__logo{
        display: flex;
        align-items: center;
        cursor: pointer;
        & h3{
            font-family: $main-font;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: $white;
            margin-left: 10px;
        }
    }
    &__icons{
        display: flex;
        align-items: center;
        cursor: pointer;
        & img:last-child{
            margin-left: 20px;
        }
    }
}